.blogs-header-section {
    max-width: 1600px;
    margin: 2.5rem auto;
    background-image: url("src/assets/images/blog.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    position: relative;
    padding: 5rem 2rem;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-header-title {
    font-size: 5rem;
}

.blogs-header-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.blogs-header-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
}

.blogs-header-paragraph {
    font-size: 1.2rem;

}