/* ------------------------
   Font Face Declarations
-------------------------*/

/* Kaushan Script */
@font-face {
    font-family: 'Kaushan Script';
    src: url('/src/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lato Black Italic */
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Lato Regular Italic */
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


/* ------------------------
   CSS Variables (Global)
-------------------------*/

:root {
    /* Fonts */
    --font-kaushan: 'Kaushan Script', cursive;
    --font-lato: 'Lato', sans-serif;

    /* Text Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #cd9b33;
    /* Shopping cart box*/
    --color-gray-dark: #2c2f3a;
    /* Gold-like tone */
    --color-gray: #666666;
    /* Medium gray */
    --color-gray-light: #c7c7c7;
    /* Light gray */
    --color-gray-very-light: #777777;
    /* Very light gray */
}


/* ------------------------
   Base Styling
-------------------------*/

body {
    font-family: "sans-serif", Helvetica Neue, Helvetica, ;
    color: var(--color-black);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}