/* Kaushan Script */
@font-face {
    font-family: 'Kaushan Script';
    src: url('/src/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lato Black Italic */
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Lato Italic (regular weight) */
@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

:root {
    /* fonts group */
    --font-kaushan: 'Kaushan Script', cursive;
    --font-lato-black-italic: 'Lato', cursive;
    --font-lato-italic: 'Lato', cursive;

    /* text color group */
    --primary-color: rgb(205, 155, 51);
    --light-gray-color: rgb(102, 102, 102);

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif Arial, Helvetica, sans-serif;
    /* font-family: Lota; */

}